uvicorn
gunicorn
fastapi
streamlit==1.32.0
python-dotenv
langchain-chroma
langchain-huggingface
langchain-groq
chromadb==0.5.3
sentence-transformers
langchain-community
docx2txt
pypdf
python-docx
