streamlit==1.28.0
watchdog==3.0.0
python-dotenv
langchain-chroma
langchain-community
langchain-huggingface
langchain-groq
chromadb==0.5.3
sentence-transformers==2.2.2
docx2txt
pypdf
python-docx
protobuf==4.25.3
